{% extends 'base.html' %}

{% block content %}

<div class="section-body">
            <div class="invoice">
              <div class="invoice-print">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="invoice-title">
                      <h2><ya-tr-span data-index="132-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Invoice" data-translation="Hisob-faktura" data-ch="0" data-type="trSpan">Hisob-faktura</ya-tr-span></h2>
                      <div class="invoice-number"><ya-tr-span data-index="133-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Order #12345" data-translation="Buyurtma #12345" data-ch="0" data-type="trSpan">DOKON NOMI</ya-tr-span></div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <address>
                          <strong>F.I.O:</strong><br>
                          Sarah Smith
                        </address>
                      </div>
                      <div class="col-md-6 text-md-right">
                        <address>
                          <strong>VAQTI:</strong><br>
                          197 N 2000th E<br>
                        </address>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-12">
                    <div class="section-title"><ya-tr-span data-index="140-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Order Summary" data-translation="Buyurtma Xulosasi" data-ch="0" data-type="trSpan">Buyurtma Xulosasi</ya-tr-span></div>
                    <p class="section-lead"><ya-tr-span data-index="141-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="All items here cannot be deleted." data-translation="Bu yerdagi barcha elementlarni o'chirib bo'lmaydi." data-ch="0" data-type="trSpan">Bu yerdagi barcha elementlarni o'chirib bo'lmaydi.</ya-tr-span></p>
                    <div class="table-responsive">
                      <table class="table table-striped table-hover table-md">
                        <tbody><tr>
                          <th data-width="40" style="width: 40px;">#</th>
                          <th><ya-tr-span data-index="142-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Item" data-translation="Element" data-ch="0" data-type="trSpan">Nomi</ya-tr-span></th>
                          <th class="text-center"><ya-tr-span data-index="143-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Price" data-translation="Narxi" data-ch="0" data-type="trSpan">Narxi</ya-tr-span></th>
                          <th class="text-center"><ya-tr-span data-index="144-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Quantity" data-translation="Miqdori" data-ch="0" data-type="trSpan">Miqdori</ya-tr-span></th>
                          <th class="text-right"><ya-tr-span data-index="145-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Totals" data-translation="Jami" data-ch="0" data-type="trSpan">Jami</ya-tr-span></th>
                        </tr>
                        <tr>
                          <td>1</td>
                          <td><ya-tr-span data-index="146-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Mouse Wireless" data-translation="Sichqoncha Simsiz" data-ch="0" data-type="trSpan">Sichqoncha Simsiz</ya-tr-span></td>
                          <td class="text-center">$10.99</td>
                          <td class="text-center">1</td>
                          <td class="text-right">$10.99</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td><ya-tr-span data-index="147-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Keyboard Wireless" data-translation="Klaviatura Simsiz" data-ch="0" data-type="trSpan">Klaviatura Simsiz</ya-tr-span></td>
                          <td class="text-center">$20.00</td>
                          <td class="text-center">3</td>
                          <td class="text-right">$60.00</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td><ya-tr-span data-index="148-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Headphone Blitz TDR-3000" data-translation="Eshitish vositasi blits TDR-3000" data-ch="0" data-type="trSpan">Eshitish vositasi blits TDR-3000</ya-tr-span></td>
                          <td class="text-center">$600.00</td>
                          <td class="text-center">1</td>
                          <td class="text-right">$600.00</td>
                        </tr>
                      </tbody></table>
                    </div>
                    <div class="row mt-4">
                      <div class="col-lg-8">
                        <div class="section-title"><ya-tr-span data-index="149-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Payment Method" data-translation="To'lov Usuli" data-ch="0" data-type="trSpan"></ya-tr-span></div>
                        <p class="section-lead"><ya-tr-span data-index="150-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="The payment method that we provide is to make it easier for you to pay invoices." data-translation="Biz taqdim etgan to'lov usuli bu sizga hisob-fakturalarni to'lashni osonlashtirishdir." data-ch="0" data-type="trSpan"></ya-tr-span></p>
                        <div class="images">
                        </div>
                      </div>
                      <div class="col-lg-4 text-right">
                        <div class="invoice-detail-item">
                          <div class="invoice-detail-name"><ya-tr-span data-index="151-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Subtotal" data-translation="Name of translators" data-ch="0" data-type="trSpan">jami summa</ya-tr-span></div>
                          <div class="invoice-detail-value">$670.99</div>
                        </div>
                        <div class="invoice-detail-item">
                          <div class="invoice-detail-name"><ya-tr-span data-index="152-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Shipping" data-translation="Yuk tashish" data-ch="0" data-type="trSpan">to'landi</ya-tr-span></div>
                          <div class="invoice-detail-value">$15</div>
                        </div>
                        <hr class="mt-2 mb-2">
                        <div class="invoice-detail-item">
                          <div class="invoice-detail-name"><ya-tr-span data-index="153-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Total" data-translation="Jami" data-ch="0" data-type="trSpan">qarzdorlik</ya-tr-span></div>
                          <div class="invoice-detail-value invoice-detail-value-lg">$655.99</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="text-md-right">

                  <button class="btn btn-primary btn-icon icon-left"><i class="fas fa-check"></i><ya-tr-span data-index="154-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value=" Process Payment" data-translation=" Jarayon To'lovi" data-ch="0" data-type="trSpan">qabul qilish</ya-tr-span></button>
                  <button class="btn btn-danger btn-icon icon-left"><i class="fas fa-times"></i><ya-tr-span data-index="154-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value=" " data-translation=" " data-ch="0" data-type="trSpan"> </ya-tr-span><ya-tr-span data-index="154-1" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Cancel" data-translation="Bekor qilish" data-ch="0" data-type="trSpan">Bekor qilish</ya-tr-span></button>

              </div>
            </div>
          </div>

{% endblock content %}