{% extends 'base.html' %}
{% block content %}

<div class="section-body">

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4><ya-tr-span data-index="274-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Simple Summernote" data-translation="Oddiy Summernote" data-ch="0" data-type="trSpan">dastafka hodim qo'shish</ya-tr-span></h4>
                  </div>
                  <div class="card-body">
                    <div class="form-group row mb-4">
                              <div class="form-group col-md-6 col-12">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"><ya-tr-span data-index="141-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Category" data-translation="Turkum" data-ch="0" data-type="trSpan">hafta</ya-tr-span></label>
                      <div class="col-sm-12 col-md-7">
                        <select class="form-control selectric" tabindex="-1">
                          <option><ya-tr-span data-index="142-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Tech" data-translation="Texnik" data-ch="0" data-type="trSpan">Dushanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="143-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="News" data-translation="Yangiliklar" data-ch="0" data-type="trSpan">Seshanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="144-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Political" data-translation="Siyosiy" data-ch="0" data-type="trSpan">Chorshanba</ya-tr-span></option>
                        </select>
                      </div>
                    </div>
                              <div class="form-group col-md-6 col-12">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"><ya-tr-span data-index="140-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Title" data-translation="Sarlavha" data-ch="0" data-type="trSpan">manzil</ya-tr-span></label>
                      <div class="col-sm-12 col-md-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    </div>
                    <div class="form-group row mb-4">
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <select class="form-control selectric" tabindex="-1">
                          <option><ya-tr-span data-index="142-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Tech" data-translation="Texnik" data-ch="0" data-type="trSpan">Dushanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="143-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="News" data-translation="Yangiliklar" data-ch="0" data-type="trSpan">Seshanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="144-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Political" data-translation="Siyosiy" data-ch="0" data-type="trSpan">Chorshanba</ya-tr-span></option>
                        </select>
                      </div>
                    </div>
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    </div>
                    <div class="form-group row mb-4">
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <select class="form-control selectric" tabindex="-1">
                          <option><ya-tr-span data-index="142-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Tech" data-translation="Texnik" data-ch="0" data-type="trSpan">Dushanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="143-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="News" data-translation="Yangiliklar" data-ch="0" data-type="trSpan">Seshanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="144-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Political" data-translation="Siyosiy" data-ch="0" data-type="trSpan">Chorshanba</ya-tr-span></option>
                        </select>
                      </div>
                    </div>
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    </div>
                    <div class="form-group row mb-4">
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <select class="form-control selectric" tabindex="-1">
                          <option><ya-tr-span data-index="142-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Tech" data-translation="Texnik" data-ch="0" data-type="trSpan">Dushanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="143-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="News" data-translation="Yangiliklar" data-ch="0" data-type="trSpan">Seshanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="144-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Political" data-translation="Siyosiy" data-ch="0" data-type="trSpan">Chorshanba</ya-tr-span></option>
                        </select>
                      </div>
                    </div>
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    </div>
                    <div class="form-group row mb-4">
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <select class="form-control selectric" tabindex="-1">
                          <option><ya-tr-span data-index="142-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Tech" data-translation="Texnik" data-ch="0" data-type="trSpan">Dushanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="143-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="News" data-translation="Yangiliklar" data-ch="0" data-type="trSpan">Seshanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="144-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Political" data-translation="Siyosiy" data-ch="0" data-type="trSpan">Chorshanba</ya-tr-span></option>
                        </select>
                      </div>
                    </div>
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    </div>
                    <div class="form-group row mb-4">
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <select class="form-control selectric" tabindex="-1">
                          <option><ya-tr-span data-index="142-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Tech" data-translation="Texnik" data-ch="0" data-type="trSpan">Dushanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="143-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="News" data-translation="Yangiliklar" data-ch="0" data-type="trSpan">Seshanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="144-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Political" data-translation="Siyosiy" data-ch="0" data-type="trSpan">Chorshanba</ya-tr-span></option>
                        </select>
                      </div>
                    </div>
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    </div>
                    <div class="form-group row mb-4">
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <select class="form-control selectric" tabindex="-1">
                          <option><ya-tr-span data-index="142-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Tech" data-translation="Texnik" data-ch="0" data-type="trSpan">Dushanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="143-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="News" data-translation="Yangiliklar" data-ch="0" data-type="trSpan">Seshanba</ya-tr-span></option>
                          <option><ya-tr-span data-index="144-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Political" data-translation="Siyosiy" data-ch="0" data-type="trSpan">Chorshanba</ya-tr-span></option>
                        </select>
                      </div>
                    </div>
                              <div class="form-group col-md-6 col-12">
                      <div class="col-sm-12 col-md-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"><ya-tr-span data-index="140-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Title" data-translation="Sarlavha" data-ch="0" data-type="trSpan">Ismi</ya-tr-span></label>
                      <div class="col-sm-12 col-md-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"><ya-tr-span data-index="140-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Title" data-translation="Sarlavha" data-ch="0" data-type="trSpan">Familiy</ya-tr-span></label>
                      <div class="col-sm-12 col-md-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"><ya-tr-span data-index="140-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Title" data-translation="Sarlavha" data-ch="0" data-type="trSpan">login</ya-tr-span></label>
                      <div class="col-sm-12 col-md-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"><ya-tr-span data-index="140-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Title" data-translation="Sarlavha" data-ch="0" data-type="trSpan">parol</ya-tr-span></label>
                      <div class="col-sm-12 col-md-7">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"><ya-tr-span data-index="203-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Thumbnail" data-translation="Kichik rasm" data-ch="0" data-type="trSpan">Rasm</ya-tr-span></label>
                      <div class="col-sm-12 col-md-7">
                        <div id="image-preview" class="image-preview">
                          <label for="image-upload" id="image-label"><ya-tr-span data-index="204-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Choose File" data-translation="Faylni Tanlash" data-ch="0" data-type="trSpan">Faylni Tanlash</ya-tr-span></label>
                          <input type="file" name="image" id="image-upload">
                        </div>
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                      <div class="col-sm-12 col-md-7">
                        <button class="btn btn-primary"><ya-tr-span data-index="150-0" data-translated="true" data-source-lang="en" data-target-lang="uz" data-value="Publish" data-translation="Nashr qilish" data-ch="0" data-type="trSpan">Nashr qilish</ya-tr-span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

</div>

{% endblock content %}