{% extends 'base.html' %}

{% block content %}

<div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>Basic DataTables</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped" id="table-1">
                        <thead>
                          <tr>
                            <th class="text-center">
                              #
                            </th>
                            <th>Dokon nomi</th>
                            <th>F.I.O</th>
                            <th>kun</th>
                            <th>manzil</th>
                            <th>Batafsil</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              1
                            </td>
                            <td>karzinka</td>
                            <td>ism,familiya</td>
                            <td>kecha</td>
                            <td>
                              <a href="/manzil" class="btn btn-outline-primary" data-toggle="tooltip" title="" data-original-title="Xarita"> <i class="fas fa-map-marked-alt"></i></a>

                            </td>
                            <td>
                              <a href="/buyurtma_batafsil" class="btn btn-outline-primary" data-toggle="tooltip" title="" data-original-title="Batafsil"> <i class="fas fa-angle-double-right"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

{% endblock content %}